POSTGRES_PASSWORD=your_strong_password
POSTGRES_USER=velumina
POSTGRES_DB=velumina
DATABASE_URL=postgresql://velumina:your_strong_password@db:5432/velumina



AUTH_SECRET=generate_with_openssl_rand_base64_32
NEXT_PUBLIC_APP_URL=http://localhost:3005

RESEND_API_KEY=your_resend_api_key
RESEND_FROM_EMAIL=domain_need_to_be_verified_with_resend